.canvas{
  position: relative;
  inset: 0;
  min-height: 100vh;
  width: 100%;
}


.img1{
    position: absolute;
    width: 10vw;
    left: 10vw;
    top: 30vh;

    filter: drop-shadow(0 0 1em rgba(52, 255, 245, 0.833));

}
.img2{
    position: absolute;
    width: 10vw;
    left: 85vw;
    top: 12vh;
    filter: drop-shadow(0 0 1em rgba(255, 187, 52, 0.833));
    
}
.img3{
    position: absolute;
    width: 14vw;
    left: 50vw;
    top: 50vh;
    filter: drop-shadow(0 0 1em rgba(255, 72, 185, 0.833));
    
}
.img4{
    position: absolute;
    width: 15vw;
    left: 30vw;
    top: 70vh;
    filter: drop-shadow(0 0 1em rgba(255, 52, 62, 0.833));
    
}

.img5{
    position: absolute;
    width: 16vw;
    left: 30vw;
    top: 20vh;
    filter: drop-shadow(0 0 1em rgba(36, 54, 255, 0.833));
    
}

.img6{
    position: absolute;
    width: 13vw;
    left: 12vw;
    top: 50vh;
    filter: drop-shadow(0 0 1em rgba(253, 231, 35, 0.833));
    
}

.img7{
    position: absolute;
    width: 15vw;
    left: 75vw;
    top: 70vh;
    filter: drop-shadow(0 0 1em rgba(36, 255, 164, 0.833));
    
}

.img8{
    position: absolute;
    width: 15vw;
    left: 60vw;
    top: 15vh;
    filter: drop-shadow(0 0 1em rgba(36, 255, 87, 0.833));
    
}

.img9{
    position: absolute;
    width: 10vw;
    left: 78vw;
    top: 45vh;
    filter: drop-shadow(0 0 1em rgba(255, 36, 36, 0.833));
    
}

body{
  margin: 0;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.833);
  position: fixed;
  overflow: hidden;
}


body::before{

    content: "";
    position: fixed;

    width: 30vw;
    height: 30vh;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%) scale(0);

    border-radius: 50%;


    background: radial-gradient(circle,
        rgba(34, 222, 255, 0.8) 0%,
        rgba(34, 222, 255, 0.4) 40%,
        rgba(34, 222, 255, 0.1) 70%,
        rgba(34, 222, 255, 0) 100%
  );

  filter: blur(20px);

  animation: pulse 4s ease-out infinite;



}

@keyframes pulse{

  0%{
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.9;
  }

  70%{
    transform: translate(-50%, -50%) scale(3);
    opacity: 0.3;
  }

  100%{
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }

}


